@charset "UTF-8";
.grid-container  {
  display: grid;
  grid-gap: 5px; 
  grid-template-columns: auto auto auto auto;
  padding: 30px; 
}
.grid-item {
  background-color: #d9edf7; 
  border: 1px solid #337ab7;
  padding: 30px; 
  text-align: center;
  font-size: 30px;
}
#wrapper{
	font-size: 50px;
}
#header{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 50px;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 5;
}