@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.grid-container  {
  display: grid;
  grid-gap: 0px; 
  grid-template-columns: auto auto auto auto;
  padding: 30px; 
 	font-family: 'Nanum Pen Script', serif;
}
.grid-item {
  background-color: #d9edf7; 
  border: 1px solid #c0ccd2;
  padding: 30px; 
  text-align: -webkit-left;
  font-size: 30px;
  width: 100%;
  height: 100%;
  font-family: 'Nanum Pen Script', serif;
}
#wrapper{
	font-size: 50px;
	font-family: 'Nanum Pen Script', serif;
	background-color: #d9edf7;
	text-align: -webkit-center;
}
#header{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 50px;
   	font-family: 'Nanum Pen Script', serif;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 5;
    	font-family: 'Nanum Pen Script', serif;
}